<md-dialog flex draggable id="gene-window" style="{{cssText1}}">

    <md-toolbar id="win-header" ng-dblclick="dblclick()" title="Double click to min/maximize gene window">
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>{{geneFeature}}--{{funcName}}</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close window">close</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-show="showGene" ng-click="minimize()">
            <md-icon class="material-icons" aria-label="Shrink window">minimize</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-show="!showGene" ng-click="maximize()">
            <md-icon class="material-icons" aria-label="Enlarge window">maximize</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-margin layout-padding ng-show="showGene" >
      <div id="gene-area" style="{{cssText2}}">
        <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>

        <!--The annotation level section-->
        <section>
            <span ng-if="has_gene_anno || has_ec_anno" class="pull-right">
                <label>Last annotated on: {{date_annotated}}</label>
            </span>
            <div>
                <span class="editable-header">Gene Level:</span><br>
                <select id="annoSelect" style="width:350px;" ng-change="annoSelectedChanged('annoSelect')" ng-model="selected">
                    <option ng-repeat="ga in geneannos" ng-selected="ga==selected">{{ga}}</option>>
                </select>
                <input id="cmg" type="text", placeholder='reason why'></input>
                <input id="doi1" type="text", placeholder='DOI'></input>
            </div>
        </section>
            
        <!--The evidence_code section-->
        <section>
            <span class="editable-header">Evidence Codes</span>
            <div>
                <pre>{{evidence_codes.length>0 ? evidence_codes: 'No evidence code found'}}</pre>
            </div>
            <div>
                <span class="editable-header">Enter new evidence code:</span><br>
                <input id="evc" type="text", placeholder='evidence code' ng-model="evc_value"></input>
                <input id="cmt" type="text", placeholder='comment' ng-model="cmt_value"></input>
                <input id="doi2" type="text", placeholder='DOI' ng-model="doi2_value"></input>
                <a ng-click="addEvdCode('evc', 'cmt', 'doi2')" class="no-href">Add</a>
            </div>
        </section>
        <br>

        <!--The annotation history section-->
        <section ng-if="mod_history.length>0">
            <span class="editable-header">Annotation history</span>
            <table class="popup_table">
                <tr>
                    <th>evidence_code</th><th>comment/reason</th><th>curation</th><th>prediction</th><th>function</th>
                    <th>genes involved</th><th>user</th><th>annotate date</th><th>DOI</th><th>Remove record</th>
                </tr>
                <tr ng-repeat="mh in mod_history track by $index">
                    <td>{{mh.evidence_code}}</td>
                    <td>{{mh.comment}}</td>
                    <td>{{mh.curation}}</td>
                    <td>{{mh.prediction}}</td>
                    <td>{{mh.function}}</td>
                    <td>{{mh.genesInvolved}}</td>
                    <td>{{mh.user}}</td>
                    <td>{{mh.date_annotated}}</td>
                    <td>{{mh.DOI}}</td>
                    <td>
                        <button ng-if="$index>=hist_len && $index===mod_history.length-1" ng-click="rmModHist($index)" aria-label="delete record">
                            <i class="icon-highlight-remove"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <br>
        </section>

      </div>
    </md-dialog-content>

    <div class="md-actions" ng-show="showGene">
        <md-button ng-if="has_gene_anno || has_ec_anno || rmedHist" ng-click="submitChanges()" title="click to submit your changes">
            Submit changes
        </md-button>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </div>
</md-dialog>
